<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Item</title>
  <link rel="stylesheet" href="/static/uikit/css/uikit.min.css" />
  <script src="/static/uikit/js/uikit.min.js"></script>
  <script src="/static/uikit/js/uikit-icons.min.js"></script>
  <script src="/static/create-post.js"></script>
</head>

<body>
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="/posts/">Home</a>
    </div>
  </nav>

  <div class="uk-container uk-container-small uk-margin-large-top">
    <h1 class="uk-heading-line uk-text-center"><span>Create a New Post</span></h1>

    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
      <form action="/create_posts/" method="post" class="uk-form-stacked uk-margin-large-top">

        <div class="uk-margin">
          <label for="title" class="uk-form-label">Title:</label>
          <div class="uk-inline uk-width-1-1">
            <input class="uk-input" type="text" id="title" name="title" />

            <div class="uk-alert-danger" uk-alert id="createAlertTitle" style="display: none;">
              <a class="uk-alert-close" uk-close></a>
              <p>タイトルは入力必須項目です!</p>
            </div>
          </div>
        </div>

        <div class="uk-margin">
          <label for="description" class="uk-form-label">Description:</label>
          <div class="uk-inline uk-width-1-1">
            <textarea class="uk-textarea" rows="4" id="description" name="description"></textarea>

            <div class="uk-alert-danger" uk-alert id="createAlertDesc" style="display: none;">
              <a class="uk-alert-close" uk-close></a>
              <p>投稿内容は入力必須項目です!</p>
            </div>
          </div>
        </div>

        <div class="uk-margin">
          <button class="uk-button uk-button-primary createButton">
            <span uk-icon="icon: check" class="uk-margin-small-right"></span>CREATE
          </button>
        </div>
      </form>
    </div>
    <p class="uk-text-center"><a href="/posts/">Back to home</a></p>
  </div>
</body>

</html>